@import "file:///C:/Users/Lenovo/stormbpmn-documentation/node_modules/vuepress-theme-hope/templates/palette/palette.scss";
@import "file:///C:/Users/Lenovo/stormbpmn-documentation/node_modules/vuepress-theme-hope/templates/palette/config.scss";
@import "file:///C:/Users/Lenovo/stormbpmn-documentation/src/.vuepress/styles/palette.scss";
@import "file:///C:/Users/Lenovo/stormbpmn-documentation/src/.vuepress/styles/config.scss";
@import "file:///C:/Users/Lenovo/stormbpmn-documentation/node_modules/vuepress-theme-hope/templates/palette/generator.scss";
