@import "file:///C:/StormBPMN/Stormdocs 20250317/stormbpmn-documentation/node_modules/vuepress-theme-hope/templates/palette/palette.scss";
@import "file:///C:/StormBPMN/Stormdocs 20250317/stormbpmn-documentation/src/.vuepress/styles/palette.scss";
@import "file:///C:/StormBPMN/Stormdocs 20250317/stormbpmn-documentation/node_modules/vuepress-theme-hope/templates/palette/generator.scss";
