@import "file:///D:/stormbpmn-documentation/node_modules/vuepress-theme-hope/templates/palette/palette.scss";
@import "file:///D:/stormbpmn-documentation/src/.vuepress/styles/palette.scss";
@import "file:///D:/stormbpmn-documentation/node_modules/vuepress-theme-hope/templates/palette/generator.scss";
